<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuites>
        <testsuite name="Test">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/ColorHashServiceProvider.php</file>
            <directory suffix=".php">./src/Facades</directory>
        </exclude>
    </source>
</phpunit>
